@font-face {
  font-family: "gotham";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/GothamPro/GothamPro-Black.eot");
  src: url("../fonts/GothamPro/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Black.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  color: #000; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 26.3px;
  border-radius: 31.5px;
  height: 63px;
  text-align: center; }

.btn-accent {
  background: #fd5f00;
  color: #fff; }
  .btn-accent:hover {
    background: #ae4200; }

.container {
  max-width: 1290px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }

h1 {
  text-transform: uppercase;
  font-size: 104.5px;
  font-weight: 900;
  font-family: 'gotham', sans-serif;
  position: relative;
  z-index: 1; }

main {
  padding: 189px 0 95px;
  background: url("../img/bg1.png") no-repeat center top;
    background-size: cover; }

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .button-group .btn {
    padding: 0 21px;
    margin: 0 28px 0 0; }
    .button-group .btn:last-child {
      margin: 0; }

.description {
  margin: 48px 0 54px;
  max-width: 750px;
  width: 100%;
  font-size: 47.5px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif; }

.main-img {
  max-width: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: -290px;
  bottom: 91px;
  z-index: 1; }

.btn-call {
  margin: 229px auto 0;
  height: 85px;
  max-width: 547px;
  width: 100%;
  font-size: 39px;
  text-transform: uppercase;
  border-radius: 42.5px; }

.decor1 {
  position: absolute;
  bottom: -95px;
  left: -175px; }

.decor2 {
  position: absolute;
  left: 177px;
  top: -77px; }

.advantages {
  padding: 101px 0 119px; }
  .advantages h2 {
    max-width: 735px;
    width: 100%; }

h2 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fd5f00;
  max-width: 420px;
  height: 163px;
  width: 100%; }

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.advantages-description {
  margin: 58px 0 99px;
  font-size: 30px; }

.advantages-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold; }

.advantages-box__icon {
  margin: 0 auto 22px;
  height: 100px; }
  .advantages-box__icon img {
    max-height: 100%; }

footer {
  background: #2a2a2a;
  padding: 33px 0 71px;
  color: #fff; }
  footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  footer .logo {
    height: 78px;
    max-width: 183px;
    padding: 10px 28px; }

.address {
  font-size: 24px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .address p {
    max-width: 837px;
    width: 100%; }

.address-icon {
  width: 32px;
  margin: 0 26px 0 0; }

.callback {
  padding: 74px 0 102px;
  background: url("../img/bg1.jpg") no-repeat center;
    background-size: cover; }

.callback-box {
  border-radius: 50px;
  max-width: 620px;
  width: 100%;
  background: rgba(42, 42, 42, 0.8);
  padding: 43px 58px 39px;
  color: #fff; }
  .callback-box p {
    margin: 33px 0 34px;
    font-size: 19px; }
  .callback-box h3 {
    font-size: 36.5px;
    font-weight: bold;
    margin: 0 0 28px; }

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f9b700;
  font-size: 56.5px;
  font-weight: bold; }

.phone-icon {
  margin: 0 9px 0 0;
  width: 41px; }

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form .btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 21px;
    max-width: 173px;
    width: 100%;
    height: 49px;
    line-height: 1;
    font-weight: bold; }

input {
  outline: none;
  border: none;
    border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 23.5px;
  padding: 0 16px;
  background: #ffffff;
  color: #484848;
  height: 49px;
  width: 100%; }
  input::-webkit-input-placeholder {
    color: #484848; }
  input::-moz-placeholder {
    color: #484848; }
  input::-ms-input-placeholder {
    color: #484848; }
  input::placeholder {
    color: #484848; }

label {
  display: block;
  max-width: 307px;
  width: 100%; }

button {
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.sale-item {
  margin: 45px 0 0;
  font-size: 31px;
  font-weight: bold; }
  .sale-item strong {
    font-size: 52.5px;
    color: #f9b700;
    display: inline-block; }

.product {
  position: relative; }
  .product h2 {
    width: 100%;
    color: #fd5f00;
    font-size: 101.5px;
    font-weight: bold;
    margin: 0 0 29px; }

.product1 {
  background: #fff7db;
  margin: 117px 0 153px; }
  .product1:before {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: -117px;
    width: 1920px;
    height: 805px;
    background: url("../img/ellipce1.png") no-repeat center top;
      background-size: cover; }
  .product1:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: -153px;
    width: 1920px;
    height: 805px;
    background: url("../img/ellipce1.png") no-repeat center top;
      background-size: cover; }
  .product1 .container {
    z-index: 1; }

.title-description {
  font-size: 27px;
  font-weight: bold;
  max-width: 560px;
  width: 100%; }

.color-accent {
  color: #fd5f00; }

.product-wrapper {
  width: 100%;
  position: relative;
  margin: -20px 0 0;
  z-index: 1; }

.decor3 {
  position: absolute;
  left: -150px;
  top: -150px; }

.decor4 {
  position: absolute;
  bottom: 0;
  right: -330px; }

.decor5 {
  position: absolute;
  left: 77px;
  bottom: -340px;
  z-index: 1;
  max-width: 250px; }

.product-img {
  position: relative;
  max-width: 372px;
  width: 100%;
  margin: 0 340px 0 auto; }

.grade-item {
  width: 100%;
  background: #ffffff;
  position: absolute;
  padding: 15px 14px 12px 48px;
  border-radius: 32.5px;
  font-size: 18.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .grade-item:after {
    content: '';
    display: inline-block;
    background: #fd5f00;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    min-width: 25px;
    margin: 0 0 0 auto; }

.grade-item1 {
  top: 83px;
  left: 107px;
  max-width: 442px; }

.grade-item2 {
  left: 8px;
  top: 195px;
  max-width: 492px;
  border-radius: 70px;
  padding: 25px 11px 20px 47px; }

.grade-item3 {
  left: 72px;
  top: 392px;
  max-width: 426px;
  padding: 15px 9px 14px 43px; }

.grade-item4 {
  padding: 17px 8px 18px 51px;
  border-radius: 46px;
  bottom: 0;
  max-width: 406px;
  left: 120px; }

.grade-item-right {
  text-align: right; }
  .grade-item-right:after {
    margin: 0 auto 0 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }

.grade-item5 {
  top: -107px;
  right: 90px;
  padding: 12px 43px 15px 10px;
  max-width: 419px; }

.grade-item6 {
  padding: 13px 47px 14px 15px;
  top: -10px;
  right: 20px;
  max-width: 388px; }

.grade-item7 {
  padding: 12px 21px 14px 15px;
  right: 30px;
  max-width: 315px;
  top: 89px; }

.grade-item8 {
  top: 212px;
  padding: 15px 30px 17px 16px;
  max-width: 245px;
  right: 60px; }

.product-information {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 117px 0 0; }

.product-information__box {
  position: relative;
  padding: 85px 90px 111px 20px;
  max-width: 490px;
  width: 100%; }
  .product-information__box:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f9b700;
    border-radius: 0 30px 30px 0;
    width: 1900px;
    height: 100%;
    z-index: 1; }
  .product-information__box > * {
    position: relative;
    z-index: 2; }
  .product-information__box p {
    font-size: 20px; }
    .product-information__box p strong {
      font-weight: bold; }
  .product-information__box h5 {
    font-weight: bold;
    margin: 20px 0 10px; }

.list-dots {
  font-size: 20px;
  font-weight: 500; }
  .list-dots li {
    position: relative;
    padding: 0 0 0 31px;
    margin: 0 0 20px; }
    .list-dots li strong {
      font-weight: bold; }
    .list-dots li:last-child {
      margin: 0; }
    .list-dots li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      background: #fd5f00;
      width: 10px;
      height: 10px;
      border-radius: 50%; }

.product-advantages__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 40px;
  font-size: 18px;
  width: 49%; }
  .product-advantages__box strong {
    color: #fd5f00;
    font-weight: bold;
    font-size: 31.5px;
    margin: 16px 0 0; }

.product-advantages__icon {
  margin: 0 28px 0 0;
  width: 108px;
  min-width: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.product-advantages__info {
  max-width: 200px;
  width: 100%; }

.product-advantages {
  width: calc(100% - 490px);
  padding: 0 0 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.product2 {
  padding: 146px 0 186px; }
  .product2 .grade-item {
    background: #fff7db; }
  .product2 .product-img img {
    position: relative;
    z-index: 1; }
  .product2 .product-img .decor6 {
    position: absolute;
    z-index: 0; }
  .product2 .grade-item1 {
    top: 69px;
    max-width: 437px;
    border-radius: 43px; }
  .product2 .grade-item6 {
    top: -40px;
    max-width: 355px;
    right: 57px; }
  .product2 .grade-item7 {
    top: 85px;
    right: 0; }

.decor6 {
  position: absolute;
  bottom: -20px;
  right: -300px; }

.img-decor7 {
  position: absolute;
  left: -184px;
  top: -212px; }

@media only screen and (max-width: 1250px) {
  .description {
    max-width: 550px;
    font-size: 30px; }
  .main-img {
    max-width: 900px; }
  .logo {
    max-width: 300px;
    padding: 20px;
    height: 120px; }
  .product-img {
    max-width: 300px; }
  .grade-item1 {
    top: 50px; }
  .grade-item2 {
    top: 140px; }
  .grade-item3 {
    top: 290px; }
  .product2 .grade-item1 {
    top: 30px; }
  .decor6 {
    right: -250px; }
  .decor4 {
    right: -300px; }
  .product-advantages__box {
    font-size: 16px; }
  .product-advantages__box strong {
    font-size: 24px; }
  .product-advantages {
    padding: 0 0 0 20px; } }

@media only screen and (max-width: 1200px) {
  .address {
    font-size: 18px; }
    .address p {
      max-width: 450px; }
  footer {
    padding: 20px 0; }
  h1 {
    font-size: 80px; }
  .btn {
    font-size: 18px; }
  .btn-call {
    height: 60px;
    max-width: 400px;
    font-size: 24px; }
  .advantages-description {
    font-size: 24px;
    margin: 30px 0 40px; }
  .decor3 {
    left: -50px; }
  .advantages-box {
    font-size: 20px; }
  .advantages {
    padding: 70px 0; }
    .advantages h2 {
      max-width: 620px; }
  h2 {
    font-size: 30px; }
  .grade-item {
    font-size: 16px; }
  .grade-item2 {
    max-width: 440px; }
  .grade-item1 {
    max-width: 400px; }
  .grade-item3 {
    max-width: 390px; }
  .grade-item4 {
    left: 75px; }
  .product2 .grade-item1 {
    max-width: 390px; }
  .product-img {
    max-width: 280px;
    margin: 0 320px 0 auto; }
  .decor4 {
    right: -270px; } }

@media only screen and (max-width: 1100px) {
  .product-img {
    margin: 0 auto 30px;
    max-width: none; }
    .product-img img {
      max-width: 280px;
      margin: 0 auto; }
  .decor4 {
    right: 20%; }
  .decor6 {
    right: 10%; }
  .grade-item, .product2 .grade-item1, .product2 .grade-item2, .product2 .grade-item3, .product2 .grade-item4, .product2 .grade-item5, .product2 .grade-item6, .product2 .grade-item7 {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0 0 20px; }
  .product-wrapper {
    margin: 20px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .grade-item1, .grade-item2, .grade-item3, .grade-item4, .grade-item5, .grade-item6, .grade-item7, .grade-item8, .product2 .grade-item1, .product2 .grade-item2, .product2 .grade-item3, .product2 .grade-item4, .product2 .grade-item5, .product2 .grade-item6, .product2 .grade-item7 {
    max-width: 49%;
    height: auto;
    text-align: left;
    padding: 15px 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .grade-item1:after, .grade-item2:after, .grade-item3:after, .grade-item4:after, .grade-item5:after, .grade-item6:after, .grade-item7:after, .grade-item8:after, .product2 .grade-item1:after, .product2 .grade-item2:after, .product2 .grade-item3:after, .product2 .grade-item4:after, .product2 .grade-item5:after, .product2 .grade-item6:after, .product2 .grade-item7:after {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      margin: 0 10px 0 0; }
  .product h2 {
    font-size: 80px;
    text-align: center; }
  .title-description {
    font-size: 24px;
    margin: 0 auto;
    text-align: center; }
  .product2 {
    padding: 70px 0; }
  .product-advantages__icon {
    width: 60px;
    min-width: 60px; }
  .img-decor7 {
    max-width: 200px;
    left: -30px;
    top: -140px; }
  .decor5 {
    max-width: 200px; }
  .decor1 {
    max-width: 250px;
    left: -100px; } }

@media only screen and (max-width: 992px) {
  .description {
    font-size: 24px;
    margin: 20px 0; }
  .main-img {
    max-width: 650px;
    right: -190px;
    bottom: 10px; }
  .btn-call {
    font-size: 20px;
    height: 50px;
    margin: 175px auto 0; }
  h1 {
    font-size: 60px; }
  .advantages h2 {
    max-width: none; }
  .advantages .logo {
    margin: 20px auto 0; }
  h2 {
    text-align: center; }
  .product-information {
    margin: 40px 0 0; }
  .decor5 {
    max-width: 200px; }
  .product-information__box {
    max-width: none;
    width: 100%;
    padding: 30px;
    background: #f9b700;
    border-radius: 20px; }
    .product-information__box:before {
      display: none; }
  .product-advantages {
    padding: 0;
    width: 100%;
    margin: 30px auto 0; }
  .product-advantages__box {
    margin: 0 0 20px; }
  .product-advantages__info {
    max-width: none; }
  .img-decor7 {
    display: none; } }

@media only screen and (max-width: 768px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .address {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 10px auto 0; }
    .address p {
      max-width: none; }
  .address-icon {
    width: 22px; }
  .callback-box {
    padding: 30px 20px; }
  .phone {
    font-size: 22px; }
  .phone-icon {
    width: 20px; }
  .sale-item {
    font-size: 24px;
    width: 100%;
    text-align: center; }
    .sale-item strong {
      font-size: 26px; }
  .callback-box h3 {
    font-size: 28px; }
  .callback-box p {
    font-size: 16px;
    margin: 20px 0; }
  input {
    font-size: 18px; }
  .btn {
    font-size: 16px; }
  .main-img {
    max-width: none;
    width: 100%;
    margin: 20px auto 0;
    bottom: 0;
    right: 0;
    position: relative; }
  h1 {
    font-size: 40px;
    text-align: center; }
  .description {
    text-align: center;
    font-size: 22px;
    margin: 20px auto; }
  .button-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .btn-call {
    margin: 20px auto 0;
    z-index: 1;
    position: relative; }
  .btn {
    height: 40px;
    font-size: 16px; }
  main {
    padding: 100px 0 90px; }
  .decor1 {
    max-width: 300px;
    left: -100px; }
  .advantages-box {
    margin: 0 0 30px;
    font-size: 18px; }
  .advantages-description {
    font-size: 18px; }
  .logo {
    max-width: 200px;
    height: 100px; }
  .product h2 {
    font-size: 60px; } }

@media only screen and (max-width: 575px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .form label {
      margin: 0 auto 20px; }
  .grade-item1, .grade-item2, .grade-item3, .grade-item4, .grade-item5, .grade-item6, .grade-item7, .grade-item8, .product2 .grade-item1, .product2 .grade-item2, .product2 .grade-item3, .product2 .grade-item4, .product2 .grade-item5, .product2 .grade-item6, .product2 .grade-item7 {
    max-width: none; }
  .product-information__box p, .list-dots {
    font-size: 16px; }
  .list-dots li {
    margin: 0 0 10px; }
  .product-advantages__box {
    width: 100%; }
  .product-advantages__icon {
    width: 80px;
    margin: 0 12px 0 0; }
  .decor5 {
    left: 50px; }
  .product h2 {
    font-size: 40px; }
  .title-description {
    font-size: 20px; } }

@media only screen and (max-width: 480px) {
  .button-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .button-group .btn {
      margin: 0 auto 15px;
      max-width: none; }
  h1 {
    font-size: 28px; }
  h2 {
    font-size: 22px; }
  .description {
    font-size: 18px; }
  .advantages-box__icon {
    height: 80px; }
  .product-img img {
    max-width: 200px; }
  .grade-item:after {
    width: 20px;
    height: 20px;
    min-width: 20px; } }

@media only screen and (max-width: 420px) {
  h2 {
    font-size: 20px; }
  .advantages .logo {
    height: 80px; } }
